.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.img{
  position: absolute;
  right: 25px;
  bottom: 20px;
  width: 50px;   
  height: auto;
  opacity: 0.7;
}
.b-azul{
    position:relative;
    width: 300px;
    height: 70px;
    opacity: 95%;
    background-color: #dee8ff;
    font-size: x-large;
    color:rgb(26, 61, 91);
    border-color: #a4b4e0;
    border-style: solid;
    border-radius: 10%;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; 
}

.b-verde{
    position:relative;
    width: 300px;
    height: 70px;
    opacity: 95%;
    background-color: #deffeb;
    font-size: x-large;
    color:rgb(28, 91, 26);
    border-color: #a4e0ac;
    border-style: solid;
    border-radius: 10%;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; 
}

.b-amarillo{
    position:relative;
    width: 300px;
    height: 70px;
    opacity: 95%;
    background-color: #fdffde;
    font-size: x-large;
    color:rgb(91, 86, 26);
    border-color: #e0daa4;
    border-style: solid;
    border-radius: 10%;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; 
}

.b-rojo{
    position:relative;
    width: 300px;
    height: 70px;
    opacity: 95%;
    background-color: #ffdede;
    font-size: x-large;
    color:rgb(91, 26, 26);
    border-color: #e0a4a4;
    border-style: solid;
    border-radius: 10%;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; 
}

.b-azul:hover{
        background-color: #acc5ff;
}
.b-verde:hover{
        background-color: #acffbd;
}
.b-amarillo:hover{
        background-color: #e9ffac;
}
.b-rojo:hover{
        background-color: #f5acff;
}

.btnAgregar {
        background-color: #2c4275;
        color: #fdffde;
        position: fixed;
        left: 85%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        width: 180px;
        height: 40px;
        border-radius: 20px;
        cursor:pointer;
        transition: background-color 0.3s ease, transform 0.1s ease; 
}
.btnAgregar:hover{
        background-color: #1c2c52;
}